<h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
  Bienvenido a Chino Recetas!
</h1>
<p class="mt-6 text-lg leading-8 text-black-600">
  El Chino es un encantador restaurante que te transportará a la exquisita cocina china en medio de la ciudad.
  Ubicado en el corazón del bullicioso centro, este lugar ofrece una experiencia culinaria única y auténtica. Al
  entrar, serás recibido por una decoración elegante y cálida que combina elementos tradicionales chinos con un
  toque moderno. El ambiente acogedor y sofisticado te invita a disfrutar de una amplia variedad de platos chinos
  preparados por talentosos chefs. 
</p>
