<!-- <p>acerca works!</p>
 -->
<div class="py-24 sm:py-32">
  <div
    class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-1"
  >
    <div class="max-w-2xl">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        MODIFICADA POR:
      </h2>
    </div>
    <ul
      role="list"
      class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2"
    >
      <li class="users">
        <div class="flex items-center gap-x-6">
          <img
            class="h-16 w-16 rounded-full"
            src="https://avatars.githubusercontent.com/u/47507228?v=4"
            alt=""
          />
          <div>
            <h3
              class="text-base font-semibold leading-7 tracking-tight text-gray-900"
            >
              Vinicio Ramos
            </h3>
            <p style="font-family: 'Georgia', serif; font-style: italic; text-decoration: underline; color: blue;">
              PROPIETARIO(Arquitecto de software / DevOps )
            </p>
          </div>
        </div>
        <div class="flex items-center gap-x-6">
          <img
            class="h-16 w-16 rounded-full"
            src="https://scontent.fgye1-2.fna.fbcdn.net/v/t39.30808-6/280382332_5422519437792169_7333219116586926158_n.jpg?_nc_cat=100&cb=99be929b-3346023f&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeGjCTdSS5N4brCNnYz93tlJm8NndhzSsI2bw2d2HNKwjYNAWVwy9xaY7ZLV5P0LKpbc7l5Va9TxTiIoAySfmhQj&_nc_ohc=UQfx6XBVqPQAX9Bo2ms&_nc_oc=AQnrUoxjnd8k210IBppjzABCH7DM3USqepdC-rNN050ug39a_osNw8kHcHwKltU_kcQ&_nc_ht=scontent.fgye1-2.fna&oh=00_AfDjjtTcuGe1JCsshoY3lACN3hxpZDSzCqCJcBzOENGTwg&oe=64AE49EC"
            alt=""
          />
          <div>
            <h3
              class="text-base font-semibold leading-7 tracking-tight text-gray-900"
            >
              Sebastian Peñaherrera
            </h3>
            <p style="font-family: 'Georgia', serif; font-style: italic; text-decoration: underline; color: blue;">
              Front-end
            </p>
          </div>
        </div>
        <div class="flex items-center gap-x-6">
          <img
            class="h-16 w-16 rounded-full"
            src="https://scontent.fgye1-2.fna.fbcdn.net/v/t39.30808-6/317093775_5464827146962934_4912975224391890318_n.jpg?_nc_cat=101&cb=99be929b-3346023f&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeGWa5k9SzNSgGHmvfp_kPzd0JtjsabqnWbQm2OxpuqdZr6rZRNPmy0ujTxmJAFkkpWS9McehezgEbYkqQhGK86j&_nc_ohc=KxDrVZrquQUAX9mPBMr&_nc_ht=scontent.fgye1-2.fna&oh=00_AfC_VRqMffJ1bJSt4lHz0Vu6cGv7gnXgNOK12Rs2MEIrMg&oe=64AE696B"
            alt=""
          />
          <div>
            <h3
              class="text-base font-semibold leading-7 tracking-tight text-gray-900"
            >
              Milton Coello
            </h3>
            <p style="font-family: 'Georgia', serif; font-style: italic; text-decoration: underline; color: blue;">
              Back-end
            </p>
          </div>
        </div>
        <div class="flex items-center gap-x-6">
          <img
            class="h-16 w-16 rounded-full"
            src="https://scontent.fgye1-2.fna.fbcdn.net/v/t1.6435-9/72742888_2417748414981739_5077914562473230336_n.jpg?_nc_cat=107&cb=99be929b-3346023f&ccb=1-7&_nc_sid=174925&_nc_eui2=AeEQGRUauc_xdDaUVxKCadngLi0L3WWSIKcuLQvdZZIgp9oI-KxDyW7QjtTqFqhQZylwMzOI4x7u5J2YCQjmgdTf&_nc_ohc=u3TGnoKUddcAX9AVItr&_nc_ht=scontent.fgye1-2.fna&oh=00_AfDe3ijfxX9y8f7uDLtBAAQkQo8UTIos1szwahkmlT0qxA&oe=64D00946"
            alt=""
          />
          <div>
            <h3
              class="text-base font-semibold leading-7 tracking-tight text-gray-900"
            >
              Bryan Castelo
            </h3>
            <p style="font-family: 'Georgia', serif; font-style: italic; text-decoration: underline; color: blue;">
              Lider-Grupo
            </p>
          </div>
        </div>
        <div class="flex items-center gap-x-6">
          <img
            class="h-16 w-16 rounded-full"
            src="https://scontent.fgye1-2.fna.fbcdn.net/v/t1.6435-9/92864089_2897993670284766_5710973375896092672_n.jpg?_nc_cat=106&cb=99be929b-3346023f&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeHf433K5UcW5KjaGZvVv5abHCKRk18kanocIpGTXyRqevpwgq8VKDxRp_OUgdW-sq9Ew0NkMJaV3Oi5neN2zMgP&_nc_ohc=OP1P-JOovfgAX-EsT_k&_nc_ht=scontent.fgye1-2.fna&oh=00_AfCWGaHLyyqfGsDEW0Ax1HjN2Z48r_c70wD9ItE_0qFC6Q&oe=64CFF5B1"
            alt=""
          />
          <div>
            <h3
              class="text-base font-semibold leading-7 tracking-tight text-gray-900"
            >
              Cesar Ayala
            </h3>
            <p style="font-family: 'Georgia', serif; font-style: italic; text-decoration: underline; color: blue;">
              Front-end
            </p>
          </div>
        </div>
      </li>

      <!-- More people... -->
    </ul>
  </div>
</div>
